
<div layout>
    <div ng-include src="'views/admin/poolNodes.html'" ng-controller="AdminPoolCrudCtrl"></div>
    <div ng-include src="'views/admin/poolTasks.html'" ng-controller="AdminPoolCrudCtrl"></div>
    <div ng-include src="'views/admin/poolStatus.html'" ng-controller="AdminPoolCrudCtrl"></div>
    <div ng-include src="'views/admin/poolErrors.html'" ng-controller="AdminPoolCrudCtrl"></div>
    <div ng-include src="'views/admin/poolCloudNodes.html'" ng-controller="AdminPoolCrudCtrl"></div>
</div>
