a,
button {
  margin-right: .7em;
}
table {
  td, th {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-align: center;
    pre {
      text-align: left;
    }
  }
}
textarea,
table pre {
  width: 400px;
  height: 200px;
  overflow-y: auto;
}
