a,
button {
  margin-right: .7em;
}
table {
  td {
    padding: 2px 6px;
    border: 1px solid #ccc;
    text-align: center;
    pre {
      text-align: left;
    }
  }
}
textarea {
  width: 400px;
  min-height: 200px;
}
