<div layout>

    <td><a href="#/admin/pools/status">back to general pools status</a></td>

    <h3>Detailed status for pool {{ model.poolId }}</h3>

    <!--<pre ng-init="getPoolStatus(model.poolId)">{{ model.poolStatus }}</pre>-->

    <table ng-init="getPoolStatus(model.poolId)">
        <thead>
            <tr>
                <th>Pool ID</th>
                <th>Pool Settings ID</th>
                <th>Count Per Node Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(poolId, poolStatus) in model.poolStatus">
                <td>{{ poolId }}</td>
                <td>{{ poolStatus.poolId }}</td>
                <td>
                    <div ng-repeat="(status, count) in poolStatus.countPerNodeStatus">
                        {{ status }}: <b>{{ count }}</b>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>