<div layout>

    <h3>General status for all pools</h3>

    <!--<pre ng-init="getPoolsStatus()">{{ model.poolsStatus | json }}</pre>-->

    <table ng-init="getPoolsStatus()">
        <thead>
            <tr>
                <th>Pool ID</th>
                <th>Pool Settings ID</th>
                <th>Count Per Node Status</th>
                <th colspan="1">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(poolId, poolStatus) in model.poolsStatus">
                <td>{{ poolId }}</td>
                <td>{{ poolStatus.poolId }}</td>
                <td>
                    <div ng-repeat="(status, count) in poolStatus.countPerNodeStatus">
                        {{ status }}: <b>{{ count }}</b>
                    </div>
                </td>
                <td><a href="#/admin/pools/{{ poolId }}/status">detailed status</a></td>
            </tr>
        </tbody>
    </table>

</div>