<div layout>
    <h3>Pools</h3>
    <table ng-init="getPools()">
        <thead>
            <tr>
                <td>ID</td>
                <td>Account ID</td>
                <td>Pool Settings</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pool in model.pools">
                <td>{{ pool.id }}</td>
                <td>{{ pool.accountId }}</td>
                <td>
                    <pre>{{ pool.poolSettings | json }}</pre>
                </td>
            </tr>
        </tbody>
    </table>
</div>
