<div layout>
    <h3>Pools for all accounts</h3>
    <table ng-init="getPools()">
        <thead>
            <tr>
                <th>Pool ID</th>
                <th>Account ID</th>
                <th>Pool Settings</th>
                <th colspan="1">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pool in model.pools">
                <td>{{ pool.id }}</td>
                <td>{{ pool.accountId }}</td>
                <td>
                    <pre>{{ pool.poolSettings | json }}</pre>
                </td>
                <td><a href="#/admin/pools/{{ pool.id }}/machines">see machines</a></td>
            </tr>
        </tbody>
    </table>
</div>
