<div layout>
    <a href="#/admin/pools">back to all pools</a>

    <h3>Errors for pool {{ model.poolId }}</h3>
    <button ng-click="deletePoolErrors(model.poolId)">clear errors</button>
    <table ng-init="getPoolErrors(model.poolId)">
        <thead>
            <tr>
                <th>Error ID</th>
                <th>Timestamp</th>
                <th>Source</th>
                <th>Pool Settings ID</th>
                <th>Message</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="error in model.poolErrors">
                <td>{{ error.id }}</td>
                <!--<td>{{ error.timestamp | date:'medium' }}</td>--> <!-- this causes problems for some reason -->
                <td>{{ error.timestamp }}</td>
                <td>{{ error.source }}</td>
                <td>{{ error.poolId }}</td>
                <td><pre>{{ error.message }}</pre></td>
                <td><pre>{{ asJson(error.info) | json }}</pre></td>
            </tr>
        </tbody>
    </table>
</div>
