<div layout>
    <a href="#/admin/pools">back to all pools</a>

    <h3>Tasks running in pool {{ model.poolId }}</h3>
    <!--<pre ng-init="getPoolTasks(model.poolId)">{{ model.poolTasks | json }}</pre>-->
    <table ng-init="getPoolTasks(model.poolId)">
        <thead>
            <tr>
                <th>Task ID</th>
                <th>Task Name</th>
                <th>Start Time</th>
                <th>Node ID</th>
                <th>Pool ID</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in model.poolTasks">
                <td>{{ task.id }}</td>
                <td>{{ task.taskName }}</td>
                <td>{{ task.startTime | date:'medium'}}</td>
                <td>{{ task.nodeId }}</td>
                <td>{{ task.poolId }}</td>
            </tr>
        </tbody>
    </table>
</div>
