<div layout>
    <a href="#/admin/pools">back to all pools</a>

    <h3>Nodes for pool {{ model.poolId }}</h3>
    <button ng-click="addPoolNode(model.poolId)">create node</button>
    <table ng-init="getPoolNodes(model.poolId)">
        <thead>
            <tr>
                <th>Node ID</th>
                <th>Machine ID</th>
                <th>Pool Settings ID</th>
                <th>Machine Status</th>
                <th>Machine SSH Details</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in model.nodes">
                <td>{{ node.id }}</td>
                <td>{{ node.machineId }}</td>
                <td>{{ node.poolId }}</td>
                <td>{{ node.nodeStatus }}</td>
                <td><pre>{{ asJson(node.machineSshDetails) | json }}</pre></td>
                <td>
                    <button ng-if="node.id" ng-click="bootstrapPoolNode(model.poolId, node.id)">bootstrap node</button>
                </td>
                <td>
                    <button ng-if="node.id" ng-click="deletePoolNode(model.poolId, node.id)">delete node</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
