<div layout>
    <a href="#/admin/users">back to all users</a>
    <a href="#/admin/accounts/{{ model.accountId }}/pools/create">create new pool</a>

    <h3>Pools for user {{ model.accountId }}</h3>
    <table ng-init="getAccountPools()">
        <thead>
            <tr>
                <th>Pool ID</th>
                <th>Pool Settings</th>
                <th>Edit Mode</th>
                <th>Delete Pool</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pool in model.accountPools">
                <td>{{ pool.id }}</td>
                <td>
                    <textarea json-binder ng-readonly="!editMode" ng-model="pool.poolSettings"></textarea>
                </td>
                <td>
                    <input type="checkbox"
                           ng-model="editMode"
                           ng-change="updateAccountPool(editMode, pool)">
                </td>
                <td>
                    <button ng-click="deleteAccountPool(pool.id)">delete pool</button>
                </td>
            </tr>
        </tbody>
    </table>

<!--
    <label>show pool
        <input type="text" placeholder="pool id" ng-model="singlePoolId" ng-change="getAccountPool(singlePoolId)">
    </label>
    <pre>{{ singlePool | json }}</pre>
-->
</div>
