<div layout>
    <h3>Users</h3>
    <button ng-click="addUser()">Create New User</button>
    <table ng-init="getUsers()">
        <thead>
            <tr>
                <td>ID</td>
                <td>UUID</td>
                <td>User Pools</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in model.users">
                <td>{{ user.id }}</td>
                <td>{{ user.uuid }}</td>
                <td><a ng-href="#/admin/accounts/{{ user.id }}/pools">user pools</a></td>
            </tr>
        </tbody>
    </table>
</div>
