<div layout>
    <h3>Pool for user {{ accountId }}</h3>

    <table ng-init="getPool()">
        <thead>
            <tr>
                <td>ID</td>
                <td>Account ID</td>
                <td>Pool Settings</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pool in pools">
                <td>{{ pool.id }}</td>
                <td>{{ pool.accountId }}</td>
                <td>
                    <pre>{{ pool.poolSettings | json }}</pre>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="#/admin/users">back to all users</a>
</div>
