<div layout>
    <h3>Users</h3>
    <button ng-click="addUser()">Create New User</button>
    <table ng-init="getUsers()">
        <thead>
            <tr>
                <th>ID</th>
                <th>UUID</th>
                <th colspan="1">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in model.users">
                <td>{{ user.id }}</td>
                <td>{{ user.uuid }}</td>
                <td><a ng-href="#/admin/accounts/{{ user.id }}/pools">see pools</a></td>
            </tr>
        </tbody>
    </table>
</div>
