
<p>
    Product Name(*) : <input type="text" ng-model="widget.productName"/><br/>
    Product Version(*) : <input type="text" ng-model="widget.productVersion"/><br/>
    Title (*) : <input type="text" ng-model="widget.title"/><br/>
    Recipe Name (*) : <input type="text" ng-model="widget.recipeName"/><br/>
    Recipe URL : <input type="text" ng-model="widget.recipeUrl"/><br/>
    Provider URL (*) : <input type="text" ng-model="widget.providerUrl"/><br/>
</p>

<p>
    Embed Video Snippet : <input type="text" ng-model="widget.embedVideoSnippet"/><br/>
    Console Link Title : <input type="text" ng-model="widget.consoleLink.title"/><br/>
    Console Link URL : <input type="text" ng-model="widget.consoleLink.url"/><br/>
    Console URL Service : <input type="text" ng-model="widget.urlService"/><br/>
    <span>
        required for the link on remote bootstrap
    </span>
    Uninstall name: <input type="text" ng-model="widget.uninstallName"/><br/>
    <span>
        To enable the widget to stop on remote bootstrap
    </span>
    <br/>

    Recipe Root Path : <input type="text" ng-model="widget.recipeRootPath"/><br/>
    Recipe Type : <select ng-model="widget.recipeType" ng-options="t.label for t in recipeTypes"></select><br/>


</p>

<p>
    Show advanced  : <input type="checkbox" ng-model="widget.showAdvanced"/><br/>
    Theme : <select ng-model="theme" ng-options="c.label for c in themes"></select><br/>
    Installation timeout: <input type="text" ng-model="widget.installTimeout"/><br/>
    HTML Snippet in Advanced Location ( Use only if show advanced is false, this HTML will display once the widget is played in the same location advanced form is displayed ):
    <textarea ng-model="widget.advancedMessage"></textarea>
</p>


<p>
    Pool Id : <input type="text" ng-model="widget.poolId"/>
</p>


<p>
    Require Login : <input type="checkbox" ng-model="widget.login.require"/><br/>
    <span>
        If "proprietary" login is selected, the widget will do nothing on "play" but send a PostMessage event. <br/>
        It will wait for the embedding page to invoke the play.<br/>
        It will look for userId and userKey to verify with Verification URL and Web Service Private Key that the<br/>
        credentials are legitimate<br/>
    </span>
    Login Type: <select ng-model="widget.login.type" ng-options="c.label for c in loginTypes"></select><br/>
</p>
<strong> proprietary login details</strong>
<p>
    Verification URL : <input ng-model="widget.login.propVerificationUrl" type="text"/><br/>
    Web Service Private Key : <input ng-model="widget.login.propServicePrivateKey" type="text"/><br/>
</p>

<p>
    An HTML snippet for description
    <textarea ng-model="widget.description"></textarea>
</p>

<p>
    An HTML snippet for 'end of trial'
    <textarea ng-model="widget.endOfTrialSnippet"></textarea>
</p>

<strong>Bootstrap</strong>
<p>
    Active  : <input type="checkbox" ng-model="widget.remoteBootstrap.active"/><br/>
    Form : <select ng-model="widget.remoteBootstrap.cloudifyForm" ng-options="c.id as c.label for c in remoteBootstrapForms"></select><br/>
    Cloudify Cloud : <input ng-model="widget.remoteBootstrap.cloudifyCloud" type="text"/><br/>
</p>
