<div class="container" id="logged-in-layout" ng-class="{'logged-in' : !!$root.user}">
<div class="require-login">
<div class="logged-in-layout nested-hidden">
    hello {{user.email}},
    <button ng-click="logout()">logout</button>
    <a admin ng-href="#/admin/users">manage users</a>
    <a admin ng-href="#/admin/pools">manage pools</a>
    <a admin ng-href="#/admin/pools/status">pools status</a>
    <label class="auto-refresh">
        <input type="checkbox" ng-model="$root.autoRefresh" >
        auto refresh
    </label>
</div>
<hr class="logged-in-layout nested-hidden"/>
</div>
<div ng-transclude class="logged-in-layout"></div>
</div>
