<section id="nati-demo">

    <style>
        #nati-demo iframe {
            width: 600px;
            height: 463px;
            border: 0 none;
            float: left;
        }
    </style>

    <h1>Chef Demo</h1>

    <div id="cloudify-widget">
    </div>

</section>



<!--
    <script type="text/javascript"
            id="cloudify-widget"
            data-api-key="879aae73-e3eb-43c8-9142-7c699689454d"
            data-title="GigaSpaces XAP"
            data-host="launch.cloudifysource.org"
            data-video_url="//www.youtube.com/embed/P0rTANBRuWE"
            src="//launch.cloudifysource.org/js/get_widget.js"></script>
-->
